* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
}


.post-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.post-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-card h2 {
    margin-top: 0;
    font-size: 25px;
}

.post-card p {
    color: #555;
}

.navbar {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #f8f8f8;
}

.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.navbar li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 15px;
    transition: color 0.3s, background-color 0.3s;
}

.navbar li a:hover,
.navbar li a.active {
    color: white;
    background-color: #007bff;
    border-radius: 5px;
}